<!-- include header template -->
<% include ./partials/header %> 

<div class="container">
	<div class="row">
		<div class="forms">
			<h1 class="form-head-h1">Sign Up</h1>
			<form method="POST" action="/register">
				<div class="form-group">
					<input class="form-control" type="text" placeholder="Username" name="username">
				</div>
				<div class="form-group">
					<input class="form-control" type="password" placeholder="Password" name="password">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" placeholder="Firstname" name="firstName">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" placeholder="Lastname" name="lastName">
				</div>
				<div class="form-group">
					<input class="form-control" type="email" placeholder="Email" name="email">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" placeholder="Avatar image URL" name="avatar">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" placeholder="Admin code(only for admins)" name="adminCode">
				</div>
				<div class="form-group">
					<button class="btn btn-success btn-block">Sign Up</button>
				</div>
			</form>
			<a href="/campgrounds">Go Back!</a>
		</div>
	</div>
</div>

<!-- include footer template -->
<% include ./partials/footer %>