html{
	height: 100vh;
}
body{
	background-image: url(https://source.unsplash.com/z9LPimZfyfo);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	background-attachment: fixed;
	background-position: 50% 50%;
	padding-top: 70px;
	font-family: 'Roboto', sans-serif;
}
textarea.form-control {
    height: 100px;
}
.lead{
	color: #fff;
	font-size: 2.2em;
	font-weight: 600;
	text-align: center;
	margin-bottom: 10px;
	letter-spacing: 0.055em;
}
.navbar {
    border-radius: 0px;
}
.forms{
	width: 30%; 
	margin: 25px auto;
	background-color: white;
	padding: 1.5em;
	border-radius: 5px;
}
.form-head-h1{
	text-align: center;
	margin-top: 0;
	font-size: x-large;
}
.thumbnail img{
	width: 100%;
}
.thumbnail .caption-full{
	padding: 9px;
}
.thumbnail{
	padding: 0 0 5px 0;
	border: none;
}
.delete{
	display: inline;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 426px) {
	.forms{
		width: 80%;
	}
}