body{
	background-image: url(https://source.unsplash.com/z9LPimZfyfo);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding-top: 70px;
}
.navbar {
    border-radius: 0px;
}
.thumbnail img{
	width: 100%;
}
.thumbnail .caption-full{
	padding: 9px;
}
#card{
	padding: 0;
	border: none;
}
.delete{
	display: inline;
}